<div class="container outer-cart">
<div class="col-md-2"></div>
<div class="col-md-8 cart-container">
  <h1 class="cart-header text-center">Order <%= @order.id %></h1>

<table class="table">




</table>
</div>
</div>


<div class="col-md-2"></div>
