<span class="mail-header"><%= link_to("Thank you for your interest in donating! Drop us a line!", "mailto:donate@givenget.org") %></span>
<div class="container envelope" href="mailto:abe@lincoln.com?Subject=Donation">
  <!-- <h3> Thank you for your interest in giving! Drop us a line! </h3> -->
  <%= image_tag(("envelope.jpg"), class: "envelope") %>
</div>

