<div class='col-md-12'>
	<h1> Feel Like Giving Something? </h1>
		<div class='col-md-12'>
		<p class='give-text'> Send an email with your specifications to: 
			<strong>
				<a id="email"href="mailto:givenget@example.com?Subject=Give%20Stuff" target="_top">givenget@example.com</a>
			</strong>
		</p>
	</div>
</div>