<% content_for :title, "give'n'get - View Items" %>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Categories</h2>
      <div class="list-group">
        <% @categories.each do |cat| %>
          <%= link_to cat.title, cat, class: "list-group-item cat-button" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">

      <% if current_admin? %>
        <%= render partial: 'admin_items' %>
      <% else %>
        <%= render partial: 'user_items' %>
      <% end %>

    </div>
  </div>
</div>
