<!-- Page Content -->
<div class="container">
<div class="row">

  <div class="col-md-3">
      <p class="lead">give'n'get</p>
      <div class="list-group">
        <% @categories.each do |cat| %>
          <a href="#" class="list-group-item"><%= cat.title %></a>
        <% end %>
      </div>
  </div>

  <div class="col-md-9">
    <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
            <h4 class="pull-right"><%= dollar_string(@item.price) %></h4>
            <h4><%= @item.title %></h4>
            <p><%= @item.description %></p>
        </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
</div>
</div>
</body>
