/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "bootstrap"
 *= require "theme"
 *= require "shop-homepage"
 *= require "shop-item"
 *= require "overrides"
 *= require_self
 */

.thumbnail-pic{
  width: 320px;
  height: 150px;
  background-color: red;
}

.cat-button {
  background-color: #F4EDD6;
}

.caption {
    background-color: #F4EDD6;
}

.home-image {
  max-height: 500px; height: 500px; overflow: hidden;
}

.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
    padding-top: 3px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 50px;
    margin-top: 50px;
}

.btn-clear {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #FFF;
}

.home-slogan {
    margin-top: 30px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #FFF;
    border-top: 4px solid rgba(255, 255, 255, 0.1);
    border-right: 4px solid rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
    border-left: 4px solid rgba(255, 255, 255, 0.1);
}

.btn-clear:hover {
    color: #000;
    background-color: #FFF;
}

.home-logo {
  border: 3px solid #6FB893;
  padding: 0px;
  margin: 7px 15px 5px 0px;
  height: 100%;
}
