/********************
* Site Wide         *
********************/

/**************************
* Palette:
***************************
*  Cream: 					#F4EDD6
*  Red: 						#E2493C
*  Dark teal: 			#6FB893
*  Light teal: 			#BED7C1
*  Greenish slate:  #C6CAAF
*  Dark mustard:    #B69155
**************************/


 body{
    /*background-color: #BED7C1;  in scheme trying different */
    background-color: #6FB893;
 }

 /*************************
 * About
 **************************/

 .about-header {
 	background-color: #C6CAAF;
 }

/***************************
* Cart -- not all may be cart
*    please verify
***************************/

.cart-checkout-btn{
	margin: 20px;
	}

.cart-delete-btn{
	margin-left: 20px;
	}

.btn-cart-qty{
	margin-left: 3px;
	margin-right: 3px;
}

#cart {
	color: #6FB893;
	margin-top: 13px;
}

.navbar-text {
	font-size: 110%;
}

.give-text {
	font-size: 200%;
}

#cart:hover {
	color:  #BED7C1;
	margin-top: 13px;
	font-size: 200%;
}

#email {
	color: #6FB893;
}

#email:hover {
	color:  #BED7C1;
	text-decoration: none;
}

#link {
	color: #6FB893;
}

#link:hover {
	color:  #BED7C1;
	text-decoration: none;
}

/*************************
* Give
**************************/

div.envelope{
	margin-left: auto;
	margin-right: auto;
}

img.envelope{
	width: 100%;
	max-width: 600px;
	}

.mail-header{
	font-size: 3em;
	text-align: center;
}

/*************************
* Show pages (item, category..)
**************************/
.list-heading{
	font-weight: bold;
	font-size: 1.25em;
}


/*************************
* Content Form           *
*************************/

#form-pane{
	margin-top: 40px;
	margin-left: 40px;
}
.header-well{
	margin: auto;
	width: 85%;
	}

.spacer{
	height: 20px;
}

.inner-form{
	width: 85%;
	margin: auto;
}

.question-box{
	border: 3px solid #BED7C1;
	background-color: #F4EDD6;
	border-radius: 4px;
	}

/**************************
* Index
**************************/

.lead-column{
	color: black;
	font-weight: bold;
	font-size: 1.25em; 
	}

.index-cart-btn {
	margin-left: 10px;
}

.qty{
	margin-left: 25px;
	}

.item-description{
	height: 90px;
	/*margin-bottom: 20px;*/
}

/*************************
* Form
*************************/

.btn-submit{
	margin: 15px;
	}

/*************************
* Main Layout
**************************/
.flash-banner{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	}

