<!-- Page Content -->
<div class="container">
<div class="row">

  <div class="col-md-3">
      <h1><%= @category.title %></h1>
      <div class="list-group">
        <% @category.items.each do |item| %>
          <%= link_to item.title, item, class: "list-group-item" %>
        <% end %>
      </div>
  </div>

  <div class="col-md-9">
    <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
            <h4 class="pull-right"></h4>
            <h4><%= @category.title %></h4>
            <p></p>
        </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
</div>
</div>
